# @Author: Eduardo Santos
# @Date:   2022-12-23 19:00:25
# @Last Modified by:   Eduardo Santos
# @Last Modified time: 2023-03-24 22:21:26
name: Metrics
on:
  # Schedule daily updates
  #schedule: [{cron: "0 0 * * *"}]
  # Schedule daily updates - every day at 7 AM UTC (8 AM here)
  schedule: [{cron: "0 7 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: 
    branches: [master, main]
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          base: header, activity, community, metadata, repositories
          base_indepth: yes

          # Plugins          
          repositories_forks: yes
          repositories_affiliations: owner, collaborator, organization_member

          # isometric commit calendar plugin
          #plugin_isocalendar: yes
          #plugin_isocalendar_duration: half-year

          # languages activity plugin
          # (disabled until it is fixed and it correctly displays the most used languages and their usage %)
          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_indepth: yes
          plugin_languages_analysis_timeout: 60
          plugin_languages_analysis_timeout_repositories: 15
          plugin_languages_recent_load: 300
          plugin_languages_recent_days: 30
          plugin_languages_categories: programming
          plugin_languages_details: percentage

          # achievements plugin
          plugin_achievements: no
          plugin_achievements_threshold: C
          plugin_achievements_display: compact

          # GitHub sponsorships plugin
          #plugin_sponsorships: yes
          #plugin_sponsorships_sections: amount
